* {
  font-family: Arial, Helvetica, sans-serif;
}

#showcase {
  background: url(../img/wp1954105-school-wallpapers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*******
 THIS STYLE BELOW CONTROLS THE HEIGHT OF THE LANDING PAGE IMAGE
 ******/
.overlay,
.overlay-content,
#showcase {
  min-height: 100vh;
}
/*******
 THIS STYLE ABOVE CONTROLS THE HEIGHT OF THE LANDING PAGE IMAGE
 ******/
.overlay {
  background: rgba(0, 0, 0, 0.795);
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*******
 OUR SERVICE AND CAREER STYLE
  ******/

#boxes {
  text-align: center;
}

#boxes img {
  width: 180px;
}

#boxes h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em;
}
.service-image {
  max-width: 180px;
  display: block;
  margin: auto;
}
#boxes a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #bf360c;
  text-align: center;
}

/****STUDENT LOGIN PAGE******/
.stu-login {
  background: url(../img/background.jpg) no-repeat;
  min-height: 762px;
}

/*********************************/

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #b0bec5;
  background-repeat: no-repeat;
}

.card0 {
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #eeeeee;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.twitter {
  background-color: #1da1f2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867b2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304ffe;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1a237e;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1a237e;
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }

  .image {
    width: 300px;
    height: 220px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid #eeeeee !important;
    margin: 0px 15px;
  }
}

/****************************************************
ADMINSTRATION LOGIN PAGE
****************************************************/
body {
  background: #222d32;
  font-family: 'Roboto', sans-serif;
}

.login-box {
  margin-top: 75px;
  height: auto;
  background: #1a2226;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27ef9f, #0db8de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #ecf0f5;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type='text'] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
}

input[type='password'] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0db8de;
  outline: 0;
  background-color: #1a2226;
  color: #ecf0f5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #0db8de;
  color: #0db8de;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #0db8de;
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #a2a4a4;
}

.loginbttm {
  padding: 0px;
}

/**********
FooTeR Style
***********/
footer {
  padding: 5em 0 0 0;
  color: #fff;
  background-color: #0c0c0c;
}
/* footer-card syle */
.footer-card {
  background-color: rgb(25, 25, 25);
  margin-bottom: 15px;
  background: #191919;
  color: #fff;
  border-top: 4px solid #cc1616;
  text-align: center;
  padding: 30px 20px;
}
.footer-card h3 {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
.footer-card p {
  font-size: 14px;
  font-family: sans-serif;
}

footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #262626;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

footer .social-links a:hover {
  background: #cc1616;
  color: #fff;
  text-decoration: none;
}
footer h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 12px;
}

/* footer-links edit */
footer .foot-links {
  margin-bottom: 30px;
}
footer .foot-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .foot-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
footer .foot-links ul li i {
  padding-right: 5px;
  color: #ed5b5b;
  font-size: 0.8em;
  line-height: 1;
}

footer .foot-links ul li a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  font-size: 0.8em;

  text-decoration: none;
}
footer .foot-links ul li a:hover {
  color: #eb4444;
}

/**** NEWS LETTER PAGE  ****/

footer .newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
footer .newsletter p {
  font-size: 0.8em;
}

footer .newsletter form input[type='email'] {
  border: 0;
  padding: 4px;
}
footer .newsletter form input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #cc1616;
  color: #fff;
  transition: 0.3s;
  width: 30%;
}

footer .copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding: 30px;
  font-size: 0.9em;
}

/* ABOUT STYLING */
.container {
  width: 100%;
  height: 30em;
}
